<div class="row">
  <div class="col-md-6">
    <div
      class="p-5 section__Container"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <div class="section__OneImage--Container rounded-5">
        <img
          loading="lazy"
          class="w-100 rounded-5"
          src="assets/new/6.jpg"
          alt="about image"
        />
      </div>
    </div>
  </div>
  <div class="col-md-6 AR p-5">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div>
        <div data-aos="fade-left" data-aos-duration="1000">
          <p class="fw-bold mb-0 Text-Main mb-2">عن الشركة</p>
          <h2 class="fw-bold Text-Main mb-4">
            نظرة عامة احترافية حول مدرسه
            <span class="text-shadow">summit</span> المتخصصة في المنهج المصري
          </h2>
        </div>
        <p data-aos="fade-up" data-aos-duration="1000" class="mb-4">
          في عصر التعليم الرقمي، تبرز مدرستنا الافتراضية كواحدة من المؤسسات
          الرائدة في تقديم المنهج المصري للطلاب المسجلين في السفارة المصرية
          بالمملكة العربية السعودية والإمارات العربية المتحدة. نحن ملتزمون
          بتقديم تعليم عالي الجودة يتماشى مع متطلبات المنهج المصري الرسمي، مع
          توفير بيئة تعليمية متقدمة ومتكاملة تتيح للطلاب تحقيق أقصى إمكاناتهم
          الأكاديمية.
        </p>
        <p data-aos="fade-up" data-aos-duration="1000" class="mb-4">
          <span class="Text-Main fw-bold">فريق تعليمي مؤهل:</span> نحن نفخر
          بامتلاك فريق تعليمي يتمتع بمؤهلات عالية وخبرة واسعة في مجالاتهم
          أساتذتنا ليسوا فقط متخصصين في المنهج المصري، بل يحملون أيضا شغفا كبيرا
          لتعليم وإلهام الطلاب. نحن ندرك أهمية التعليم النوعي في بناء مستقبل
          مشرق لأبنائنا، ولذا؛ نحرص على انتقاء نخبة من المعلمين الذين يمتلكون
          القدرة على تبسيط المعلومات وتقديمها بأساليب مبتكرة وجذابة...
        </p>
        <p data-aos="fade-up" data-aos-duration="1000" class="mb-4">
          <span class="Text-Main fw-bold"
            >دورات تعليمية عبر الإنترنت للأطفال:</span
          >بالإضافة إلى المنهج الدراسي الأساسي، نقدم مجموعة متنوعة من الدورات
          التعليمية عبر الإنترنت للأطفال، تركز على تنمية مهاراتهم وبناء معارفهم
          في مختلف المجالات هذه الدورات تقدم بواسطة مدربين مؤهلين بشكل احترافي،
          يتمتعون بخبرة عميقة في مجالات تخصصهم، لضمان تقديم محتوى تعليمي شائق
          ومفيد...
        </p>
        <p data-aos="fade-up" data-aos-duration="1000" class="mb-4">
          <span class="Text-Main fw-bold">دعم فني واحترافي:</span> نحن نؤمن بأن
          الدعم المستمر هو جزء أساسي من تجربة التعلم الناجحة. لذلك، نوفر فريقًا
          متميزًا لخدمة العملاء، جاهز دائمًا للإجابة على استفساراتكم وتقديم
          المساعدة في أي وقت. نحن هنا لضمان أن تكون تجربة التعلم الافتراضي سلسة
          وفعالة.
        </p>
        <p
          data-aos="fade-up"
          data-aos-duration="1000"
          class="mb-0 Text-Main fw-bold"
        >
          مميزات أخرى:
        </p>
        <p data-aos="fade-up" data-aos-duration="1000" class="mb-4">
          نحرص على تقديم تجربة تعليمية شاملة تلبي احتياجات الطلاب وأولياء
          الأمور.
        </p>
        <p
          data-aos="fade-up"
          data-aos-duration="1000"
          class="mb-0 Text-Main fw-bold"
        >
          من بين المميزات التي نقدمها:
        </p>
        <p data-aos="fade-up" data-aos-duration="1000" class="mb-4">
          بيئة تعليمية تفاعلية ومتطورة باستخدام أحدث التقنيات التعليمية موارد
          تعليمية متنوعة تغطي جميع جوانب المنهج المصري. جلسات تفاعلية مباشرة مع
          المدرسون لتعزيز الفهم العميق للمحتوى الدراسي. تقييمات مستمرة لمتابعة
          تقدم الطلاب وضمان تحقيق الأهداف التعليمية. مدرستنا الافتراضية ليست
          مجرد منصة تعليمية، بل هي مجتمع تعليمي يسعى لبناء جيل من المتعلمين
          المبدعون والمتميزون. نحن ملتزمون بتقديم أفضل ما لدينا لضمان نجاح
          طلابنا في كل خطوة من خطوات رحلتهم التعليمية. انضموا إلينا لتجربة
          تعليمية فريدة ومتميزة...
        </p>
        <button
          data-aos="fade-up"
          data-aos-duration="1000"
          routerLink="/contact"
          class="btn btn-outline-main px-3"
        >
          اتصل الان
        </button>
      </div>
    </div>
  </div>
</div>
