<section>
  <!-- ============================== -->
  <!-- Header -->
  <!-- ============================== -->
  <div
    class="Header Text-Secondary fw-bolder fs-1 d-flex justify-content-center align-items-center"
  >
    <p class="mb-0 AR">تواصل معنا</p>
  </div>
  <div class="container py-5">
    <div class="row g-0 flex-column-reverse flex-lg-row">
      <div class="col-12 col-lg-1 mb-4 mb-lg-0 shadow">
        <div class="d-flex justify-content-center align-items-center h-100">
          <ul
            class="list-unstyled d-flex justify-content-center align-items-center d-lg-block"
          >
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://www.facebook.com/profile.php?id=61559931065136&_rdc=1&_rdr"
                target="_blank"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3 my-5">
              <a
                class="icons-color"
                href="https://wa.me/+966543271082"
                target="_blank"
              >
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://www.instagram.com/summitonline2024/"
                target="_blank"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://www.youtube.com/@SummitOnlineSchool"
                target="_blank"
              >
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://t.me/+201285266992"
                target="_blank"
              >
                <i class="fa-brands fa-telegram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="contact__Content text-white p-4 Bg-Main rounded-5 shadow">
          <p class="h1 border-bottom pb-3 text-center fw-bold">
            ابقى على تواصل
          </p>
          <ul class="list-unstyled m-0 p-0 pt-3">
            <li class="row">
              <div
                class="col-2 d-flex justify-content-start align-items-center fs-1"
              >
                <i class="fa-solid fa-map-location-dot"></i>
              </div>
              <div class="col-10 text-end">
                <p class="mb-1">:العنوان</p>
                <p class="mb-0 text-center">الرياض المملكه العربيه السعوديه</p>
              </div>
            </li>
            <li class="row my-4">
              <div class="row">
                <div
                  class="col-3 d-flex justify-content-start align-items-center"
                >
                  <i class="fa-solid fs-1 fa-envelope-open-text"></i>
                </div>
                <div class="col-9">
                  <p class="text-end">البريد الإلكتروني</p>
                  <p class="text-center">summit.school2024&commat;gmail.com</p>
                </div>
              </div>
            </li>
            <li>
              <p class="mb-1 text-end">:اتصل بنا</p>
              <div class="row my-3">
                <div
                  class="col-3 d-flex justify-content-start align-items-center"
                >
                  <i class="col-3 fa-solid fs-1 fa-phone"></i>
                </div>
                <p class="col-9 text-center my-2">+201552751988</p>
              </div>
              <div class="row my-3">
                <div
                  class="col-3 d-flex justify-content-start align-items-center"
                >
                  <i class="col-3 fa-brands fs-1 fa-whatsapp"></i>
                </div>
                <p class="col-9 text-center my-2">+966582009746</p>
              </div>
              <div class="row my-3">
                <div
                  class="col-3 d-flex justify-content-start align-items-center"
                >
                  <i class="fa-brands fs-1 fa-whatsapp"></i>
                </div>
                <p class="col-9 text-center my-2">+966543271082</p>
              </div>
              <div class="row my-3">
                <div
                  class="col-3 d-flex justify-content-start align-items-center"
                >
                  <i class="fa-brands fa-telegram fs-1"></i>
                </div>
                <p class="col-9 text-center my-2">+201285266992</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-7 mb-4 mb-lg-0">
        <div
          class="h-100 d-flex justify-content-center align-items-center iframe-container"
        >
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d463877.3124272635!2d46.4928839843283!3d24.725455373048284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1717871884515!5m2!1sen!2seg"
            class="w-100 shadow ratio ratio-16x9"
            height="450"
            style="border: 0"
            loading="eager"
            importance="high"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-5 mt-2">
    <button class="btn-main px-4 py-2" routerLink="/summit-forms/feedback">
      <i class="fa-solid fa-comment-dots fs-5 Text-Secondary mx-2"></i>
      لتسجيل الشكاوى والمقترحات
    </button>
  </div>
</section>
