<section class="AR h-100">
  <div class="container">
    <h2 class="Text-Main text-center">
      <span class="border-bottom border-3"
        >Summit Online School Courses Registration</span
      >
    </h2>

    <div class="mt-3">
      <form [formGroup]="CoursesForm" (ngSubmit)="onFormSubmit()">
        <div class="row justify-content-center">
          <!-- الاسم الكامل -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="remarks">الاسم الكامل:</label>
                <!-- requierd -->
                @if (CoursesForm.get('الاسم الكامل')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    CoursesForm.get('الاسم الكامل')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="الاسم الكامل"
                type="text"
                name="FullName"
                id="FullName"
                autocomplete="name"
              />
            </div>
          </div>
          <!-- تاريخ الميلاد -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="Birth_Date"
                  >تاريخ الميلاد:</label
                >
                <!-- requierd -->
                @if (CoursesForm.get('تاريخ الميلاد')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    CoursesForm.get('تاريخ الميلاد')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="تاريخ الميلاد"
                type="date"
                name="Birth_Date"
                id="Birth_Date"
                autocomplete="bday"
              />
            </div>
          </div>

          <!-- اسم ولي الأمر -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="Guardian">اسم ولي الأمر:</label>
                <!-- requierd -->
                @if (CoursesForm.get('اسم ولي الأمر')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    CoursesForm.get('اسم ولي الأمر')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="اسم ولي الأمر"
                type="text"
                name="Guardian"
                id="Guardian"
                autocomplete="name"
              />
            </div>
          </div>

          <!-- رقم الواتساب -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="Phone_Email"
                  >رقم الواتساب:</label
                >
                <!-- requierd -->
                @if (CoursesForm.get('رقم الواتساب')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
                <!-- Pattern -->
                @if (CoursesForm.get('رقم الواتساب')?.errors && startValidation
                && Phone_Email.value !== null && Phone_Email.value?.length != 0)
                {
                <p class="mb-0 fw-bold text-danger">
                  برجاء ادخال رقم هاتف صحيح*
                </p>
                }
              </div>
              <ngx-intl-tel-input
                #Phone_Email
                [cssClass]="
                  CoursesForm.get('رقم الواتساب')?.getError('required') &&
                  startValidation
                    ? 'form-control  is-invalid'
                    : 'form-control '
                "
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [separateDialCode]="true"
                [searchCountryPlaceholder]="'ابحث عن الدولة...'"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.SaudiArabia"
                [maxLength]="15"
                [phoneValidation]="true"
                [numberFormat]="PhoneNumberFormat.National"
                [inputId]="'Phone_Email'"
                name="Phone_Email"
                formControlName="رقم الواتساب"
              >
              </ngx-intl-tel-input>
            </div>
          </div>
          <!-- الكورس -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="Course">الكورس:</label>
                <!-- requierd -->
                @if (CoursesForm.get('الكورس')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <div class="card p-3">
                @for (item of Courses; track item ; let I = $index) {
                <div class="field-checkbox mb-2">
                  <p-radioButton
                    [ngClass]="{
                      'is-invalid ng-invalid ng-dirty':
                        CoursesForm.get('الكورس')?.getError('required') &&
                        startValidation
                    }"
                    class="mx-2"
                    [inputId]="item"
                    [value]="item"
                    formControlName="الكورس"
                  />
                  <label [for]="item" class="ml-2">
                    {{ item }}
                  </label>
                </div>
                }
              </div>
            </div>
          </div>
          <!-- الجنس -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5 h-100">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="Course">الجنس:</label>
                <!-- requierd -->
                @if (CoursesForm.get('الجنس')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <div class="card p-3">
                @for (item of Gender; track item ; let I = $index) {
                <div class="field-checkbox mb-2">
                  <p-radioButton
                    [ngClass]="{
                      'is-invalid ng-invalid ng-dirty':
                        CoursesForm.get('الجنس')?.getError('required') &&
                        startValidation
                    }"
                    class="mx-2"
                    [inputId]="item"
                    [value]="item"
                    formControlName="الجنس"
                  />
                  <label [for]="item" class="ml-2">
                    {{ item }}
                  </label>
                </div>
                }
              </div>
            </div>
          </div>

          <!-- ملاحظات -->
          <div class="my-2 col-md-12">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label" for="remarks"
                  >ملاحظات:(اختياري)</label
                >
              </div>
              <textarea
                rows="5"
                formControlName="ملاحظات"
                class="form-control"
                name="remarks"
                id="remarks"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="text-center my-3">
          <button class="btn-main px-5">تسجيل</button>
        </div>
      </form>
    </div>
  </div>
</section>
