<!-- ============================== -->
<!-- Header -->
<!-- ============================== -->
<div
  class="Header Text-Secondary d-flex justify-content-center align-items-center"
>
  <div class="text-center">
    <p class="Text-Secondary AR Font-Secondary-Cairo fs-1 fw-bold">
      كورسات ساميت
    </p>
    <p class="text-white fs-4">
      تمتلك
      <span class="Text-Secondary fw-bolder text-shadow">ساميت</span> واحدة من
      أفضل المنصات التعليمية التي تستخدم لتدريس المناهج المختلفة
    </p>
  </div>
</div>
<app-about-section-five [ShowTitle]="false"></app-about-section-five>>
