<!-- ====================================== -->
<!-- Home About (Second Section) -->
<!-- ====================================== -->
<app-home-header></app-home-header>
<!-- ====================================== -->
<!-- Home About (Second Section) -->
<!-- ====================================== -->
<app-home-about></app-home-about>
<!-- ====================================== -->
<!-- Home Core Values (Third Section) -->
<!-- ====================================== -->
@defer(when showComponents === true){
<app-home-corevalues />
}
<!-- ====================================== -->
<!-- Home our vision (Third Section) -->
<!-- ====================================== -->
<app-home-our-vision></app-home-our-vision>
<!-- ====================================== -->
<!-- Home Courses (Fifth Section) -->
<!-- ====================================== -->
<app-home-courses></app-home-courses>
<!-- ====================================== -->
<!-- Home Testimonial (Fourth Section) -->
<!-- ====================================== -->
<app-home-testimonial></app-home-testimonial>
<!-- ====================================== -->
<!-- Home Training (Sixth Section) -->
<!-- ====================================== -->
<app-home-training></app-home-training>
<!-- ====================================== -->
<!-- Home Training (Sixth Section) -->
<!-- ====================================== -->
@defer(when showComponents === true){
<app-home-team />
}
