<section>
  <div class="container py-5">
    <div class="p-4">
      <!-- Section Title -->
      <div class="text-center mb-5">
        <p class="h2 Text-Main AR Font-Secondary-Cairo fw-bold">
          <span class="text-shadow Text-Secondary">Summit</span>
        </p>
        <p class="text-black fw-semibold">
          <span class="Text-Third fw-bolder text-shadow">ساميت</span> هي مؤسسة
          تعليمية رائدة متخصصة في تقديم خدمات وحلول تعليمية عالية الجودة
          للمتعلمين من مختلف الفئات العمرية والجنسيات
        </p>
      </div>
      <!-- Section Content -->
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="w-100 h-100 p-md-5 pt-0">
            <div class="row">
              @for (item of Images; track item ; let i = $index) {
              <div
                (click)="toggleLightBox()"
                class="col-12 p-1 col-md-6 imgContainer"
              >
                <img
                  class="rounded-3 p-2 object-fit-cover"
                  [ngSrc]="item"
                  [alt]="item"
                  fill
                />
                <div class="layer rounded-3">
                  <i class="fa-regular fa-eye"></i>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="col-md-6 AR align-self-start">
          <div class="p-md-5 pt-0">
            <p class="Text-Main fw-semibold mt-3 mb-2">نظرة عامة</p>
            <p class="text-muted">
              في عصر التعليم الرقمي، تبرز مدرستنا الافتراضية كواحدة من المؤسسات
              الرائدة في تقديم المنهج المصري للطلاب المسجلين في السفارة المصرية
              بالمملكة العربية السعودية والإمارات العربية المتحدة. نحن ملتزمون
              بتقديم تعليم عالي الجودة يتماشى مع متطلبات المنهج المصري الرسمي،
              مع توفير بيئة تعليمية متقدمة ومتكاملة تتيح للطلاب تحقيق أقصى
              إمكاناتهم الأكاديمية.
            </p>
            <div class="text-center">
              <button
                routerLink="/about"
                class="btn btn-main-secondary px-5 rounded-pill"
              >
                للمزيد
              </button>
            </div>
            <p class="mb-0 one">
              <button
                class="btn Text-Main fw-bolder fs-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#First"
                aria-expanded="false"
                aria-controls="First"
              >
                <span class="social-icons-container d-inline-block">
                  <i class="one fa-solid fa-circle-check"></i>
                  <i class="one fa-solid fa-caret-up"></i>
                </span>
                الرؤية
              </button>
            </p>
            <div class="collapse one" id="First">
              <div class="card card-body border-0 pt-0">
                توفير تعليم بجودة المدارس الدولية من خلال منهج مصري شامل، مع
                التركيز على النمو الأكاديمي والنفسي للطلاب
              </div>
            </div>
            <p class="mb-0 two">
              <button
                class="btn Text-Main fw-bolder fs-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#Second"
                aria-expanded="false"
                aria-controls="Second"
              >
                <span class="social-icons-container d-inline-block">
                  <i class="two fa-solid fa-circle-check"></i>
                  <i class="two fa-solid fa-caret-up"></i>
                </span>
                الرسالة
              </button>
            </p>
            <div class="collapse two" id="Second">
              <div class="card card-body border-0 pt-0">
                <p>
                  <span class="Text-Secondary text-shadow d-block"
                    >مدرسة Summit Online School،</span
                  >نسعى لتحقيق رؤية تعليمية شاملة ترتكز على تزويد طلابنا بتعليم
                  عالي الجودة يتماشى مع المعايير الدولية.
                </p>
                <p class="Text-Main fw-bold">رسالتنا تتجسد في:</p>
                <p>
                  <span class="Text-Secondary text-shadow d-block"
                    >🔹تقديم تعليم متميز:</span
                  >
                  توفير برامج تعليمية مبتكرة وشاملة تضمن تميز الطلاب أكاديميًا
                  ومهاريًا، باستخدام مناهج تعليمية حديثة وطرق تدريس فعالة.
                </p>
                <p>
                  <span class="Text-Secondary text-shadow d-block"
                    >🔹 تعزيز الصحة النفسية:</span
                  >نهتم بصحة طلابنا النفسية من خلال تقديم دعم نفسي متكامل، بيئة
                  تعليمية داعمة، وبرامج تهدف إلى تعزيز الثقة بالنفس والتوازن
                  النفسي.
                </p>
                <p>
                  <span class="Text-Secondary text-shadow d-block"
                    >🔹 استخدام التكنولوجيا المتقدمة:</span
                  >دمج أحدث التقنيات والذكاء الاصطناعي في العملية التعليمية
                  لتطوير مهارات الطلاب وجعل التعلم تجربة تفاعلية ومشوقة.
                </p>
                <p>
                  <span class="Text-Secondary text-shadow d-block"
                    >🔹 التواصل والمتابعة:</span
                  >بناء علاقة وثيقة مع أولياء الأمور من خلال متابعة دورية وتقديم
                  ملاحظات مستمرة لضمان تقدم الطلاب وتحقيق أهدافهم التعليمية.
                </p>
                <p>
                  <span class="Text-Secondary text-shadow d-block"
                    >🔹 الاستعداد للمستقبل:</span
                  >إعداد الطلاب لمستقبل واعد من خلال تزويدهم بالمعرفة والمهارات
                  اللازمة لمواكبة التطورات والتحديات العالمية.spa
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@if (isLightBoxOpen) {
<div class="LightBoxContainer" (click)="toggleLightBox()">
  <div class="lightBoxContent" (click)="stopProp($event)">
    <div class="card">
      <p-galleria
        [value]="Images"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [containerStyle]="{ width: '100%' }"
      >
        <ng-template pTemplate="item" let-item>
          <img
            class="ratio ratio-1x1 w-100 h-100"
            loading="lazy"
            [src]="item"
            style="width: 100%; display: block"
          />
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>
}
