<section>
  <div class="container py-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="p-4">
      <!-- Section Title -->
      <div class="text-center mb-5">
        <h2 class="Text-Main AR Font-Secondary-Cairo fw-bold">
          <span class="text-shadow Text-Secondary">Summit</span> جودة التعليم
        </h2>
        <p class="text-black fw-semibold">
          <span class="Text-Third fw-bolder text-shadow">ساميت</span> هي مؤسسة
          تعليمية رائدة متخصصة في تقديم خدمات وحلول تعليمية عالية الجودة
          للمتعلمين من مختلف الفئات العمرية والجنسيات
        </p>
      </div>
      <!-- Section Content -->
      <div class="row">
        <div class="col-md-6">
          <div class="row g-0" data-aos="fade-up" data-aos-duration="1000">
            @for (item of Images; track item ; let i = $index) {
            <div (click)="toggleLightBox()" class="col-6 p-2 imgContainer">
              <img class="w-100 rounded-3" [src]="item" [alt]="item" />
              <div class="layer"><i class="fa-regular fa-eye"></i></div>
            </div>
            }
          </div>
        </div>
        <div class="col-md-6 AR">
          <p class="Text-Main fw-semibold">نظرة عامة</p>
          <p class="text-muted">
            في عصر التعليم الرقمي، تبرز مدرستنا الافتراضية كواحدة من المؤسسات
            الرائدة في تقديم المنهج المصري للطلاب المسجلين في السفارة المصرية
            بالمملكة العربية السعودية والإمارات العربية المتحدة. نحن ملتزمون
            بتقديم تعليم عالي الجودة يتماشى مع متطلبات المنهج المصري الرسمي، مع
            توفير بيئة تعليمية متقدمة ومتكاملة تتيح للطلاب تحقيق أقصى إمكاناتهم
            الأكاديمية.
          </p>
          <div class="text-center">
            <button class="btn btn-main-secondary px-5 rounded-pill">
              للمزيد
            </button>
          </div>
          <p class="mb-0 one">
            <button
              class="btn Text-Main fw-bolder fs-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#First"
              aria-expanded="false"
              aria-controls="First"
            >
              <span class="social-icons-container d-inline-block">
                <i class="one fa-solid fa-circle-check"></i>
                <i class="one fa-solid fa-caret-up"></i>
              </span>
              الرؤية
            </button>
          </p>
          <div class="collapse one" id="First">
            <div class="card card-body border-0 pt-0">
              خلق فرص تعليمية مستدامة ولا محدودة ساميت مستقبلاً حيث يكون التعلم
              غير محدود، ونسعى من خلال تبني التكنولوجيا والابتكار أن نقدم
              نموذجاً للتعليم الشامل الذي يمكن كل عقل من تحقيق أقصى إمكاناته
            </div>
          </div>
          <p class="mb-0 two">
            <button
              class="btn Text-Main fw-bolder fs-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#Second"
              aria-expanded="false"
              aria-controls="Second"
            >
              <span class="social-icons-container d-inline-block">
                <i class="two fa-solid fa-circle-check"></i>
                <i class="two fa-solid fa-caret-up"></i>
              </span>
              الرسالة
            </button>
          </p>
          <div class="collapse two" id="Second">
            <div class="card card-body border-0 pt-0">
              ”تمكين الجميع من التعلم مدى الحياة في ساميت” رسالتنا هي إطلاق
              العنان لإمكانيات كل متعلم من خلال توفير مجموعة واسعة من الفرص
              التعليمية. نحن ملتزمون بتعزيز النظام الرقمي الشامل حيث تكون
              المعرفة متاحة والتعلم مناسب للجميع. نسعي لإمداد الأفراد بالأدوات
              والموارد التي يحتاجونها لتحقيق طموحاتهم التعليمية، وتحويل حياتهم،
              وإثراء المجتمع العالمي
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@if (isLightBoxOpen) {
<div class="LightBoxContainer" (click)="toggleLightBox()">
  <div class="lightBoxContent" (click)="stopProp($event)">
    <div class="card">
      <p-galleria
        [value]="Images"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [containerStyle]="{ width: '100%' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>
}
