<section>
  <div class="container py-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="p-4">
      <!-- Section Title -->
      <div class="text-center mb-5">
        <h2 class="Text-Main AR Font-Secondary-Cairo fw-bold">
          <span class="text-shadow Text-Secondary">Summit</span> جودة التعليم
          وخبرة السنين
        </h2>
        <p class="Text-Main fw-semibold">
          <span class="Text-Third fw-bolder text-shadow">سامت</span> هي مؤسسة
          تعليمية رائدة متخصصة في تقديم خدمات وحلول تعليمية عالية الجودة
          للمتعلمين من مختلف الفئات العمرية والجنسيات
        </p>
      </div>
      <!-- Section Content -->
      <div class="row">
        <div class="col-md-6">
          <div class="row g-0" data-aos="fade-up" data-aos-duration="1000">
            @for (item of Images; track $index) {
            <div class="col-6 p-2">
              <img class="w-100" [src]="item" [alt]="item" />
            </div>
            }
          </div>
        </div>
        <div class="col-md-6 AR">
          <p class="Text-Main fw-semibold">نظرة عامة</p>
          <p class="text-muted">
            تقدم الشركة خدماتها للقطاعين الحكومي والخاص، وتساعد الأفراد من مختلف
            الأعمار في تحقيق رؤيتهم بتوفير تعليم وتدريب عالي الجودة. يقع مقر
            الشركة في الرياض، بالمملكة العربية السعودية. على مدار السنوات
            الماضية، قامت مؤسستنا الرائدة بتعليم أكثر من 5,000 طالب.تقدم الشركة
            خدماتها للقطاعين الحكومي والخاص، وتساعد الأفراد في تحقيق رؤيتهم
            بتوفير تعليم وتدريب عالي الجودة. يقع مقر الشركة في الرياض، المملكة
            العربية السعودية. على مدى السنوات الأربع الماضية، قامت مؤسستنا
            الرائدة بتعليم أكثر من 10,000 طالب.تقدم الشركة خدماتها للقطاعين
            الحكومي والخاص، وتساعد الأفراد في تحقيق رؤيتهم بتوفير تعليم وتدريب
            عالي الجودة. يقع مقر الشركة في الرياض، المملكة العربية السعودية. على
            مدى السنوات الأربع الماضية، قامت مؤسستنا الرائدة بتعليم
            أكثر من 10,000 طالب.
          </p>
          <div class="text-center">
            <button class="btn btn-secondary px-5 rounded-pill">للمزيد</button>
          </div>
          <p class="mb-0 one">
            <button
              class="btn Text-Main fw-bolder fs-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#First"
              aria-expanded="false"
              aria-controls="First"
            >
              <span class="social-icons-container d-inline-block">
                <i class="one fa-solid fa-circle-check"></i>
                <i class="one fa-solid fa-caret-up"></i>
              </span>
              الرؤية
            </button>
          </p>
          <div class="collapse one" id="First">
            <div class="card card-body border-0 pt-0">
              <p>خلق فرص تعليمية مستدامة ولا محدودة</p>
              إديوفرس مستقبلاً حيث يكون التعلم غير محدود، ونسعى من خلال تبني
              التكنولوجيا والابتكار أن نقدم نموذجاً للتعليم الشامل الذي يمكن كل
              عقل من تحقيق أقصى إمكاناته
            </div>
          </div>
          <p class="mb-0 two">
            <button
              class="btn Text-Main fw-bolder fs-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#Second"
              aria-expanded="false"
              aria-controls="Second"
            >
              <span class="social-icons-container d-inline-block">
                <i class="two fa-solid fa-circle-check"></i>
                <i class="two fa-solid fa-caret-up"></i>
              </span>
              الرسالة
            </button>
          </p>
          <div class="collapse two" id="Second">
            <div class="card card-body border-0 pt-0">
              ”تمكين الجميع من التعلم مدى الحياة”في إديوفرس، رسالتنا هي إطلاق
              العنان لإمكانيات كل متعلم من خلال توفير مجموعة واسعة من الفرص
              التعليمية. نحن ملتزمون بتعزيز النظام الرقمي الشامل حيث تكون
              المعرفة متاحة والتعلم مناسب للجميع. نسعي لإمداد الأفراد بالأدوات
              والموارد التي يحتاجونها لتحقيق طموحاتهم التعليمية، وتحويل حياتهم،
              وإثراء المجتمع العالمي
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
