<nav
    class="navbar navbar-expand-lg Bg-Main fixed-top"
>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <span class="Logo me-2">
                <img class="w-100 rounded-circle" src="assets/Summit-Logo/logo2.jpg" alt="Summit-Logo">
            </span>
            <a class="navbar-brand Font-Secondary-Cairo text-white fw-bold fs-1" routerLink="home">SUMMIT</a>
        </div>
        <button
            class="navbar-toggler d-lg-none border-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 flex-column text-end text-lg-center flex-lg-row-reverse">
                <li class="nav-item mx-1 mx-md-2">
                    <a class="nav-link text-white" routerLink="home" routerLinkActive="active">الرئيسية</a>
                </li>
                <li class="nav-item mx-1 mx-md-2">
                    <a class="nav-link text-white" routerLink="about" routerLinkActive="active">عن الشركة</a>
                </li>
                <li class="nav-item mx-1 mx-md-2">
                    <a class="nav-link text-white" routerLink="ourteam" routerLinkActive="active">فريقنا</a>
                </li>
                <li class="nav-item mx-1 mx-md-2">
                    <a class="nav-link text-white" routerLink="teching-tech" routerLinkActive="active">فلسفتنا التعليمية</a>
                </li>
                <li class="nav-item mx-1 mx-md-2">
                    <a class="nav-link text-white" routerLink="contact" routerLinkActive="active">اتصل بنا</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
