@import "variables";
.Logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.nav-link {
  transition: 0.3s all;
  transform-origin: right center;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 100vh;
  &:hover {
    transform: scale(1.1);
    font-weight: 500;
    border: 1px solid white;
  }
  &.active {
    font-weight: 600;
    text-shadow: 2px 2px #558abb;
    border: 1px solid white;
    border-radius: 100vh;
  }
}
* {
  transition: 0.3s all;
}

nav:not(:has(.nav-link.main.active)) {
  background-color: $main-color !important;
}

#collapsibleNavId.show {
  background-color: $main-color;
  border-radius: 15px;
}
