<nav #NavBar class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <span class="Logo me-2">
        <img
          loading="lazy"
          class="w-100 rounded-circle"
          [src]="'assets/Summit-Logo/navbar__Logo.jpg'"
          [width]="60"
          [height]="60"
          alt="Summit-Logo"
        />
      </span>
      <a
        class="navbar-brand Font-Secondary-Cairo text-white fw-bold fs-1"
        routerLink=""
        >SUMMIT</a
      >
    </div>
    <button
      class="navbar-toggler d-lg-none border-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbarUL class="collapse navbar-collapse" id="collapsibleNavId">
      <ul
        class="navbar-nav ms-auto mt-4 mt-lg-0 flex-column text-end text-lg-center flex-lg-row-reverse align-items-end px-3 px-lg-0"
      >
        <li (click)="CloseNavBar()" class="mb-3 mb-lg-0 nav-item mx-1 mx-xl-2">
          <a
            id="main"
            class="nav-link text-white p-2"
            routerLink=""
            routerLinkActive="active main"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            الرئيسية
            <i class="fa-solid fa-house ms-1"></i>
          </a>
        </li>
        <li (click)="CloseNavBar()" class="mb-3 mb-lg-0 nav-item mx-1 mx-xl-2">
          <a
            class="nav-link text-white p-2"
            routerLink="about"
            routerLinkActive="active"
            >عن الشركة
            <i class="pi pi-building-columns ms-1"></i>
          </a>
        </li>
        <li (click)="CloseNavBar()" class="mb-3 mb-lg-0 nav-item mx-1 mx-xl-2">
          <a
            class="nav-link AR text-white p-2"
            routerLink="courses"
            routerLinkActive="active"
          >
            <i class="pi pi-book ms-1"></i> كورسات Summit
          </a>
        </li>
        <li (click)="CloseNavBar()" class="mb-3 mb-lg-0 nav-item mx-1 mx-xl-2">
          <a
            class="nav-link AR text-white p-2"
            routerLink="vision"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-tag ms-1"></i> فلسفتنا
          </a>
        </li>
        <li (click)="CloseNavBar()" class="mb-3 mb-lg-0 nav-item mx-1 mx-xl-2">
          <a
            class="AR nav-link text-white p-2"
            routerLink="ourteam"
            routerLinkActive="active"
          >
            <i class="pi pi-users ms-1"></i>
            فريقنا
          </a>
        </li>
        <li (click)="CloseNavBar()" class="mb-3 mb-lg-0 nav-item mx-1 mx-xl-2">
          <a
            class="AR nav-link text-white p-2"
            routerLink="contact"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-headphones-simple ms-1"></i>
            اتصل بنا
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
