<div class="footer">
  <div class="container-fluid">
    <div class="row p-5 pb-3 justify-content-center">
      <!-- ========================================= -->
      <!-- First Section Footer Logo -->
      <!-- ========================================= -->
      <div class="col-12 col-xl-3">
        <div class="text-center mb-3">
          <img
            class="rounded-4"
            ngSrc="assets/Summit-Logo/logo2.jpg"
            alt="footer logo"
            width="150"
            height="150"
          />
        </div>
        <p class="text-white text-end AR">
          في عصر التعليم الرقمي، تبرز مدرستنا الافتراضية كواحدة من المؤسسات
          الرائدة في تقديم المنهج المصري للطلاب المسجلين في السفارة المصرية
          بالمملكة العربية السعودية والإمارات العربية المتحدة. نحن ملتزمون
          بتقديم تعليم عالي الجودة يتماشى مع متطلبات المنهج المصري الرسمي، مع
          توفير بيئة تعليمية متقدمة ومتكاملة تتيح للطلاب تحقيق أقصى إمكاناتهم
          الأكاديمية.
        </p>
      </div>
      <!-- ========================================= -->
      <!-- Middle Section Routing Section -->
      <!-- ========================================= -->
      <div class="col-12 col-xl-5 second">
        <div
          class="text-white d-flex justify-content-evenly align-items-center align-items-lg-start flex-column flex-lg-row"
        >
          <div>
            <p class="fs-4 Text-Secondary fw-bold">صفحات هامة</p>
            <ul class="list-unstyled">
              <li routerLink="courses" class="mb-3">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> كورسات متنوعة للأطفال </span>
              </li>
              <li routerLink="courses" class="mb-3">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> برامج تدريب المعلمين </span>
              </li>
              <li routerLink="contact" class="mb-3">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> تواصل معنا </span>
              </li>
            </ul>
          </div>
          <div>
            <p class="fs-4 Text-Secondary fw-bold">روابط سريعة</p>
            <ul class="list-unstyled">
              <li routerLink="" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> الرئيسية </span>
              </li>
              <li routerLink="about" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> عن الشركة </span>
              </li>
              <li routerLink="ourteam" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> فريقنا </span>
              </li>
              <li routerLink="courses" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> كورسات Summit </span>
              </li>
              <li routerLink="contact" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> اتصل بنا </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ========================================= -->
      <!-- Social Icons -->
      <!-- ========================================= -->
      <div class="col-12 col-lg-3 third">
        <div class="text-white AR">
          <ul class="list-unstyled d-flex justify-content-start gap-3 p-0">
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://www.facebook.com/profile.php?id=61559931065136&_rdc=1&_rdr"
                target="_blank"
                aria-label="Visit our Facebook Profile"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://wa.me/+966543271082"
                target="_blank"
                aria-label="Conect us on whatsapp"
              >
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://www.instagram.com/summitonline2024/"
                target="_blank"
                aria-label="find us on instagram"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://www.youtube.com/@SummitOnlineSchool"
                target="_blank"
                aria-label="find us on instagram"
              >
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                class="icons-color"
                href="https://t.me/+201285266992"
                target="_blank"
                aria-label="find us on instagram"
              >
                <i class="fa-brands fa-telegram"></i>
              </a>
            </li>
          </ul>
          <!-- ========================================= -->
          <!-- Email section -->
          <!-- ========================================= -->
          <ul class="list-unstyled third">
            <li class="mb-3 d-flex justify-content-start align-items-start">
              <div>
                <i class="fa-solid fa-location-dot fs-2 ms-3"></i>
              </div>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <span class="mb-1 text-decoration-none text-white"
                  >الرياض المملكه العربيه السعوديه</span
                >
              </div>
            </li>
            <li class="mb-3 d-flex justify-content-start align-items-start">
              <div>
                <i class="fa-regular fa-envelope fs-2 ms-3"></i>
              </div>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <a
                  href="mailto:summit.school2024@gmail.com"
                  target="_blank"
                  class="mb-1 text-decoration-none text-white"
                  >summit.school2024&commat;gmail.com</a
                >
              </div>
            </li>
            <!-- ========================================= -->
            <!-- Phone Contacts -->
            <!-- ========================================= -->
            <li class="mb-3 d-flex justify-content-start align-items-start">
              <ul class="list-unstyled p-0 m-0">
                <li class="row mb-2 text-center g-3">
                  <div class="col-2">
                    <i class="fa-solid fa-headphones-simple fs-2 ms-3"></i>
                  </div>
                  <div class="col-10">
                    <a
                      href="https://wa.me/+201552751988"
                      target="_blank"
                      class="mb-2 text-decoration-none text-white"
                      >201552751988+</a
                    >
                  </div>
                </li>
                <li class="row mb-2 text-center g-3">
                  <div class="col-2">
                    <i class="fa-brands fa-whatsapp fs-2 ms-3"></i>
                  </div>
                  <div class="col-10">
                    <a
                      href="https://wa.me/+966582009746"
                      target="_blank"
                      class="mb-2 text-decoration-none text-white"
                      >966582009746+</a
                    >
                  </div>
                </li>
                <li class="row mb-2 text-center g-3">
                  <div class="col-2">
                    <i class="fa-brands fa-whatsapp fs-2 ms-3"></i>
                  </div>
                  <div class="col-10">
                    <a
                      href="https://wa.me/+966543271082"
                      target="_blank"
                      class="mb-2 text-decoration-none text-white"
                      >966543271082+</a
                    >
                  </div>
                </li>
                <li class="row mb-2 text-center g-3">
                  <div class="col-2">
                    <i class="fa-brands fa-telegram fs-2 ms-3"></i>
                  </div>
                  <div class="col-10">
                    <a
                      href="https://t.me/+201285266992"
                      target="_blank"
                      class="mb-2 text-decoration-none text-white"
                      >201285266992+</a
                    >
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================================= -->
  <!-- Separated Footer One Line Full Row -->
  <!-- ========================================= -->
  <p class="bg-dark text-center text-white py-1 mb-0">
    &copy; 2024 Summit - All rights reserved
  </p>
</div>
