<div class="footer">
  <div class="container-fluid">
    <div class="row p-5 pb-3 justify-content-center">
      <div class="col-12 col-xl-3">
        <div class="text-center mb-3">
          <img
            class="rounded-4"
            src="assets/Summit-Logo/logo2.jpg"
            alt="logo"
          />
        </div>
        <p class="text-white text-end">
          تقدم الشركة خدماتها للقطاعين الحكومي والخاص، وتساعد الأفراد من مختلف
          الأعمار في تحقيق رؤيتهم بتوفير تعليم وتدريب عالي الجودة. يقع مقر
          الشركة في الرياض، بالمملكة العربية السعودية. على مدار السنوات الماضية،
          قامت مؤسستنا الرائدة بتعليم أكثر من 3,000 طالب
        </p>
      </div>
      <div class="col-12 col-xl-5 second">
        <div class="text-white d-flex justify-content-evenly align-items-start">
          <div>
            <p class="fs-4 Text-Secondary fw-bold">صفحات هامة</p>
            <ul class="list-unstyled">
              <li routerLink="courses" class="mb-3">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> كورسات متنوعة للأطفال </span>
              </li>
              <li routerLink="courses" class="mb-3">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> برامج تدريب المعلمين </span>
              </li>
              <li routerLink="contact" class="mb-3">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> تواصل معنا </span>
              </li>
            </ul>
          </div>
          <div>
            <p class="fs-4 Text-Secondary fw-bold">روابط سريعة</p>
            <ul class="list-unstyled">
              <li routerLink="home" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> الرئيسية </span>
              </li>
              <li routerLink="about" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> عن الشركة </span>
              </li>
              <li routerLink="ourteam" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> فريقنا </span>
              </li>
              <li routerLink="courses" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> كورسات Summit </span>
              </li>
              <li routerLink="contact" class="mb-2">
                <i class="fa-solid pe-3 fa-chevron-left"></i>
                <span> اتصل بنا </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 third">
        <div class="text-white AR">
          <ul class="list-unstyled third">
            <li class="mb-3 d-flex justify-content-start align-items-start">
              <div>
                <i class="fa-solid fa-location-dot fs-2 ms-3"></i>
              </div>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <a class="mb-1 text-decoration-none text-white"
                  >المملكه العربيه السعوديه</a
                >
              </div>
            </li>
            <li class="mb-3 d-flex justify-content-start align-items-start">
              <div>
                <i class="fa-regular fa-envelope fs-2 ms-3"></i>
              </div>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <a
                  href="mailto:summit.school2024@gmail.com"
                  target="_blank"
                  class="mb-1 text-decoration-none text-white"
                  >summit.school2024&commat;gmail.com</a
                >
              </div>
            </li>
            <li class="mb-3 d-flex justify-content-start align-items-start">
              <div>
                <i class="fa-solid fa-headphones-simple fs-2 ms-3"></i>
              </div>
              <div
                class="d-flex justify-content-center align-items-center flex-column"
              >
                <a
                  href="https://wa.me/+966582009746"
                  target="_blank"
                  class="mb-2 text-decoration-none text-white"
                  >+966582009746</a
                >
                <a
                  href="https://wa.me/+966543271082"
                  target="_blank"
                  class="mb-2 text-decoration-none text-white"
                  >+966543271082</a
                >
                <a
                  href="https://wa.me/+201552751988"
                  target="_blank"
                  class="mb-2 text-decoration-none text-white"
                  >+201552751988</a
                >
                <a
                  href="https://wa.me/+201552751988"
                  target="_blank"
                  class="mb-2 text-decoration-none text-white"
                  >+201552751988</a
                >
              </div>
            </li>
          </ul>
          <ul class="list-unstyled d-flex justify-content-start gap-3">
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                href="https://www.facebook.com/profile.php?id=61559931065136&_rdc=1&_rdr"
                target="_blank"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a href="https://wa.me/+966543271082" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </li>
            <li class="social-icons-container bg-white Text-Main fs-3">
              <a
                href="https://www.instagram.com/summitonline2024/"
                target="_blank"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="bg-dark text-center text-white py-1 mb-0">
    &copy; 2024 Summit - All rights reserved
  </p>
</div>
