<h3>Using Angular to Submit Data to Google Sheets</h3>

<!-- <div class="container">
  <form
    (ngSubmit)="submitForm()"
    enctype="multipart/form-data"
    name="google-sheet"
  >
    <label for="name">Name</label>
    <input
      class="form-control"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="formData.name"
      placeholder="Your name.."
      required
    />

    <label for="email">Email</label>
    <input
      class="form-control"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="formData.email"
      placeholder="Your email.."
      required
    />

    <label for="mobile">Mobile</label>
    <input
      class="form-control"
      type="text"
      id="mobile"
      name="mobile"
      [(ngModel)]="formData.mobile"
      placeholder="Your mobile.."
      required
    />

    <label for="pdfFile">PDF File</label>
    <input
      class="form-control"
      type="file"
      id="pdfFile"
      name="pdfFile"
      (change)="onFileSelected($event)"
      accept=".pdf"
      required
    />

    <button type="submit">Submit</button>
  </form>
</div> -->
<br />
<hr />
<br />
<div class="text-center">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSeSRpMbxqiwV6wWotoxYzhxzMg0xkXg6gA7oNKaiBWYmHZ-2w/viewform?embedded=true"
    width="640"
    height="1146"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Loading…</iframe
  >
</div>
