<section>
  <!-- ============================== -->
  <!-- Header -->
  <!-- ============================== -->
  <div
    class="Header Text-Secondary fw-bolder fs-1 d-flex justify-content-center align-items-center position-relative"
  >
    <p data-aos="zoom-out" data-aos-duration="1000" class="mb-0 AR">فريقنا</p>
  </div>
  <div class="container p-lg-5">
    @for (item of _Team.Team; track item ; let i = $index ; let odd = $odd) {
    <div [ngClass]="{ AR: odd }" class="row p-lg-5">
      <div
        (click)="toggleLightBox(item)"
        role="button"
        tabindex="0"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="col-12 col-lg-6 p-5 mb-3 mb-lg-0"
      >
        <div class="section__Container">
          <div class="section__OneImage--Container rounded-5">
            <img
              loading="lazy"
              class="w-100 h-100 rounded-5"
              [src]="item.ImageUrl"
              [alt]="item.Instractor_Name"
            />
            <img
              role="button"
              tabindex="0"
              width="50"
              height="50"
              class="position-absolute bottom-0 start-0 m-2 z-3"
              src="assets/play-video.svg"
              alt="play-video"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 AR p-5">
        <p class="h1 Text-Main fw-medium instractor__Name mb-5">
          {{ item.Instractor_Name }} - {{ item.Instractor_Job }}
        </p>
        <ul>
          @for (item of item.Instractor_Info; track $index) {
          <li class="mb-2 fw-bold AR">
            {{ item }}
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSduDpkgMLTgSDVpNT4edhKESL7Orn5jdw7HqCLg3yQ7nnpEbA/viewform"
    target="_blank"
    class="position-fixed bottom-0 end-0 me-3 mb-3 btn-main px-4 border-0"
  >
    <i class="mx-2 fa-solid fa-chalkboard-user"></i> انضم إلينا
  </a>
</section>

@if (isLightBox) {
<div (click)="toggleLightBox()" class="LightBoxContainer">
  <div class="lightBoxContent" (click)="toggleLightBox()">
    <app-videos [cuurentInstractor]="cuurentInstractor"></app-videos>
  </div>
</div>
}
