<section class="vision__container py-5 my-3">
  <div class="container py-5">
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2 class="h1 Text-Secondary fw-bold text-center">وفلسفتنا في التعليم</h2>
      <p class="text-white text-center AR">
        في ساميت، ندرك أهمية إبقاء المتعلمين مندمجين ومتفاعلين في بيئة التعلم
        عبر الإنترنت؛ ولتحقيق ذلك نستخدم مجموعة متنوعة من الاستراتيجيات والأدوات
        والموارد التي تعزز التعلم النشط والتعاون والتفاعل بين طلابنا منها:
      </p>
    </div>
    <div>
      <div class="row text-white AR">
        <div class="col-12 col-lg-4 mb-4 mb-lg-0">
          <div
            class="Vision_Whiteline--right p-2 mb-3 vision__shadow"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <div class="row">
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-regular fa-bookmark"></i>
                </div>
              </div>
              <div class="col-9 p-3">
                <p class="h5 fw-bold">التعلم المتمحور حول الطالب:</p>
                <p>
                  نؤمن بأن كل طالب فريد من نوعه، لذا نركز على تلبية احتياجاتهم
                  الفردية من خلال أساليب تعليمية مخصصة تشجع على التفكير النقدي
                  والإبداعي.
                </p>
              </div>
            </div>
          </div>
          <div
            class="Vision_Whiteline--right p-2 mb-3 vision__shadow"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <div class="row">
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-solid fa-book-open-reader"></i>
                </div>
              </div>
              <div class="col-9 p-3">
                <p class="h5 fw-bold">التعلم مدى الحياة:</p>
                <p>
                  نسعى إلى غرس حب التعلم في نفوس طلابنا، مما يساعدهم على
                  الاستمرار في اكتساب المعرفة والمهارات طوال حياتهم.
                </p>
              </div>
            </div>
          </div>
          <div
            class="Vision_Whiteline--right p-2 mb-3 vision__shadow"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <div class="row">
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-solid fa-shuffle"></i>
                </div>
              </div>
              <div class="col-9 p-3">
                <p class="h5 fw-bold">التعليم الشامل:</p>
                <p>
                  نلتزم بتوفير بيئة تعليمية شاملة تدعم جميع الطلاب، بما في ذلك
                  ذوي الاحتياجات الخاصة، من خلال توفير موارد وأدوات تعليمية
                  متخصصة.
                </p>
              </div>
            </div>
          </div>
          <div
            class="Vision_Whiteline--right p-2 mb-3 vision__shadow"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <div class="row">
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-solid fa-handshake-angle"></i>
                </div>
              </div>
              <div
                class="col-9 p-2"
                data-aos="fade-up"
                data-aos-duration="1000"
              >
                <p class="h5 fw-bold">التكامل بين التكنولوجيا والتعليم:</p>
                <p>
                  ندمج أحدث التقنيات في مناهجنا التعليمية لتعزيز تجربة التعلم عن
                  بُعد وضمان تفاعل الطلاب بشكل فعّال وممتع.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-lg-4 mb-4 mb-lg-0 d-flex justify-content-center align-items-center"
        >
          <div class="bg-white p-2">
            <img
              class="w-100"
              src="assets/our-vision/section-Image.png"
              alt=" our vision backgorund image"
            />
          </div>
        </div>

        <div class="col-12 col-lg-4 mb-4 mb-lg-0">
          <div
            class="Vision_Whiteline--left p-2 mb-3 vision__shadow"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="row pe-4">
              <div class="col-9 p-2">
                <p class="h5 fw-bold">التعليم القائم على المشاريع:</p>
                <p>
                  نشجع الطلاب على الانخراط في مشاريع تعليمية عملية تساعدهم على
                  تطبيق ما يتعلمونه في سياقات واقعية، مما يعزز فهمهم العميق
                  للمفاهيم الدراسية.
                </p>
              </div>
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="Vision_Whiteline--left p-2 mb-3 vision__shadow"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="row pe-4">
              <div class="col-9 p-2">
                <p class="h5 fw-bold">التعليم القائم على القيم:</p>
                <p>
                  نركز على تعليم القيم الأخلاقية والاجتماعية، مثل الاحترام
                  والتعاون والمثابرة، لضمان تطوير طلاب مسؤولين ومواطنين عالميين
                  واعين.
                </p>
              </div>
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-solid fa-book-open-reader"></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="Vision_Whiteline--left p-2 mb-3 vision__shadow"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="row pe-4">
              <div class="col-9 p-2">
                <p class="h5 fw-bold">التعاون بين المدرسة والأسرة:</p>
                <p>
                  نؤمن بأن الشراكة بين المدرسة والأسرة أمر حيوي لنجاح الطلاب،
                  لذا نحرص على بناء جسور تواصل فعّالة مع أولياء الأمور ودعمهم في
                  رحلتهم التعليمية.
                </p>
              </div>
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-solid fa-heart-pulse"></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="Vision_Whiteline--left p-2 mb-3 vision__shadow"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="row pe-4">
              <div class="col-9 p-2">
                <p class="h5 fw-bold">التعليم متعدد الثقافات:</p>
                <p>
                  نحتضن التنوع الثقافي ونشجع طلابنا على فهم وتقدير الثقافات
                  المختلفة، مما يساعدهم على أن يصبحوا مواطنين عالميين متفتحين
                  وواعين.
                </p>
              </div>
              <div
                class="col-3 d-flex justify-content-center align-items-center"
              >
                <div class="icon__container">
                  <i class="fa-solid fa-gift"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-main-secondary px-5">للمزيد</button>
    </div>
  </div>
</section>
