<section class="py-5">
  <div class="container">
    <hr class="border-3 pt-5" />
    <div class="row flex-column-reverse flex-lg-row">
      <div
        data-aos="fade-left"
        data-aos-duration="1500"
        class="col-12 col-lg-5"
      >
        <div>
          <img
            class="w-100"
            src="assets/Home/Home-Training/1.png"
            alt="Training"
          />
        </div>
      </div>
      <div
        data-aos="fade-right"
        data-aos-duration="1500"
        class="col-12 col-lg-7"
      >
        <div
          class="d-flex justify-content-center align-items-end flex-column h-100"
        >
          <h2 class="Text-Main AR mb-4 fw-semibold">
            دورات <span class="text-shadow">ساميت</span> للذكاء الأصطناعى
            <span class="text-shadow">SUMMIT</span> AI training
          </h2>
          <p class="AR fw-semibold">
            في يناير 2024 أطلقت SUMMIT منصة جديدة تعني بتدريب وتوظيف المعلمين
            لأستخدام الذكاء الاصطناعى تطوير أساليب التدريس. تم إنشاء هذا المركز
            المبتكر لتحقيق رؤية خدمة المجتمع حيث يمكن للمعلمين تعزيز مهاراتهم
            وكذلك العثور على فرص عمل مجزية. والمنصة حاليًا في مرحلة نشطة من
            تطوير المحتوى، مع تصميم دورات مسجلة لتزويد المعلمين بأحدث الأساليب
            التربوية والخبرة التخصصية. يتم تشجيع المعلمين على إنشاء ملفاتهم
            الشخصية وصياغة السير الذاتية المهنية والمشاركة في مسارات مصممة
            خصيصًا لتعزيز مؤهلاتهم وإظهار التزامهم بالتطوير المهني
          </p>
        </div>
      </div>
    </div>
    <div
      class="row secondSection AR rounded-4 text-center p-4"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div
        class="col-12 col-lg-3 d-flex justify-content-center align-items-center"
      >
        <button class="btn btn-main-secondary">للاشتراك</button>
      </div>
      <div
        class="col-12 col-lg-6 text-white d-flex justify-content-center align-items-start flex-column"
      >
        <div class="p-4">
          <h3 class="fw-bolder fs-2">إعداد المعلمين للمستقبل</h3>
          <p>
            تعمل المنصة كجسر يربط المعلمين بالمؤسسات التعليمية؛ حيث يحظى أصحاب
            العمل بفرصة فريدة لاستكشاف ملفات المعلمين التعليمية الشاملة التي
            أعدوها من قبل، ومراجعة الأوراق والشهادات الموثقة، واستقطاب المواهب
            عالية المستوى
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-3 d-none d-lg-block">
        <div class="p-4 w-75 mx-auto">
          <img
            class="w-100 rounded-circle"
            src="assets/Summit-Logo/logo2.jpg"
            alt="Summit-Logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
