<section class="py-5 mb-4">
  <div class="container">
    <hr class="border-3 pt-5" />
    <div class="row flex-column-reverse flex-lg-row">
      <div
        data-aos="fade-right"
        data-aos-duration="1500"
        class="col-12 col-lg-5"
      >
        <div class="row g-0" data-aos="fade-up" data-aos-duration="1000">
          @for (item of Images; track item ; let i = $index) {
          <div
            data-aos="flip-up"
            data-aos-duration="1000"
            (click)="toggleLightBox()"
            class="col-12 col-md-6 p-2 imgContainer"
          >
            <img
              fill
              class="rounded-3 p-2 object-fit-cover"
              [ngSrc]="item"
              [alt]="item"
            />
            <div class="layer"><i class="fa-regular fa-eye"></i></div>
          </div>
          }
        </div>
      </div>
      <div
        data-aos="fade-left"
        data-aos-duration="1500"
        class="col-12 col-lg-7"
      >
        <div
          class="d-flex justify-content-center align-items-end flex-column h-100"
        >
          <h2 class="Text-Main AR mb-4 fw-semibold">
            دورات تدريب المعلمين على استخدام الذكاء الاصطناعي في
            <span class="Text-Secondary fw-bold text-shadow"
              >Summit Online School</span
            >
          </h2>
          <div>
            <p class="AR fw-semibold">
              <span class="Text-Main fw-bold d-block h5">
                🔹 محتوى الدورات:
              </span>
              <span class="Text-Secondary text-shadow fw-bold d-block h6 mb-0">
                مقدمة في الذكاء الاصطناعي: </span
              >فهم الأساسيات والمفاهيم الرئيسية. تطبيقات الذكاء الاصطناعي في
              التعليم: كيفية استخدام أدوات وتقنيات الذكاء الاصطناعي لتحسين تجربة
              التعليم والتعلم. تحليل البيانات التعليمية: استخدام الذكاء
              الاصطناعي لتحليل أداء الطلاب وتخصيص خطط تعليمية فردية. التعليم
              المخصص: تصميم وتطبيق برامج تعليمية تتناسب مع احتياجات وقدرات كل
              طالب باستخدام الذكاء الاصطناعي.
            </p>
          </div>
          <div>
            <p
              data-aos="flip-up"
              data-aos-duration="1000"
              data-aos-delay="100"
              class="AR fw-semibold"
            >
              <span class="Text-Main fw-bold d-block h5">
                🔹 ميزات الدورات:
              </span>
              <span class="Text-Secondary text-shadow fw-bold d-block h6 mb-0"
                >تدريب عملي:</span
              >تطبيقات عملية لتجهيز المعلمين لاستخدام الذكاء الاصطناعي بكفاءة في
              الفصول الافتراضية.
            </p>
            <p
              data-aos="flip-up"
              data-aos-duration="1000"
              class="AR fw-semibold"
            >
              <span class="Text-Secondary text-shadow fw-bold d-block h6 mb-0">
                متابعة وتقييم: </span
              >تقييم مستمر وتقديم ملاحظات لتحسين الأداء.
            </p>
            <p
              data-aos="flip-up"
              data-aos-duration="1000"
              class="AR fw-semibold"
            >
              <span class="Text-Secondary text-shadow fw-bold d-block h6 mb-0"
                >شهادات معتمدة:
              </span>
              الحصول على شهادات تثبت الكفاءة في استخدام الذكاء الاصطناعي في
              التعليم.
            </p>
          </div>
          <div data-aos="flip-up" data-aos-duration="1000" class="AR fw-bold">
            <span class="Text-Main fw-bold d-block h5">🔹 أهداف الدورات: </span>
            <p>🔹تطوير مهارات المعلمين في استخدام التكنولوجيا الحديثة.</p>
            <p>🔹تحسين جودة التعليم وتقديم تجارب تعليمية مبتكرة.</p>
            <p>
              🔹تعزيز قدرة المعلمين على تحليل البيانات وتخصيص التعليم لكل طالب.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@if (isLightBoxOpen) {
<div class="LightBoxContainer" (click)="toggleLightBox()">
  <div class="lightBoxContent" (click)="stopProp($event)">
    <div class="card">
      <p-galleria
        [value]="Images"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [containerStyle]="{ width: '100%' }"
      >
        <ng-template pTemplate="item" let-item>
          <img
            loading="lazy"
            [src]="item"
            style="width: 100%; display: block"
          />
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>
}
