<section class="AR h-100">
  <div class="container">
    <h2 class="Text-Main text-center">
      <span class="border-bottom border-3 fw-bold"
        >Summit Online School Teachers Application Form</span
      >
    </h2>

    <!-- <input (change)="handle()" type="file" accept="image/" /> -->

    <div class="mt-3">
      <form [formGroup]="TeachersForm" (ngSubmit)="handle(CV)">
        <div class="row justify-content-center">
          <!-- Full_Name -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="FullName"
                  >الاسم الكامل: <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if (TeachersForm.get('Full_Name')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    TeachersForm.get('Full_Name')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="Full_Name"
                type="text"
                name="FullName"
                id="FullName"
                autocomplete="name"
              />
            </div>
          </div>
          <!-- Email -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="email"
                  >البريد اللإلكتروني: <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if (TeachersForm.get('Email')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    TeachersForm.get('Email')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="Email"
                type="email"
                name="email"
                id="email"
                autocomplete="email"
              />
            </div>
          </div>
          <!-- Birth_Date -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="Birth_Date"
                  >تاريخ الميلاد: <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if (TeachersForm.get('Birth_Date')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    TeachersForm.get('Birth_Date')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="Birth_Date"
                type="date"
                name="Birth_Date"
                id="Birth_Date"
                autocomplete="bday"
              />
            </div>
          </div>
          <!-- WhatsappNumber -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="Phone_Email"
                  >رقم الواتساب: <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if (TeachersForm.get('WhatsappNumber')?.getError('required') &&
                startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
                <!-- Pattern -->
                @if (TeachersForm.get('WhatsappNumber')?.errors &&
                startValidation && Phone_Email.value !== null &&
                Phone_Email.value?.length != 0) {
                <p class="mb-0 fw-bold text-danger">
                  برجاء ادخال رقم هاتف صحيح*
                </p>
                }
              </div>
              <ngx-intl-tel-input
                #Phone_Email
                [cssClass]="
                  TeachersForm.get('WhatsappNumber')?.getError('required') &&
                  startValidation
                    ? 'form-control  is-invalid'
                    : 'form-control '
                "
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                  SearchCountryField.Iso2,
                  SearchCountryField.Name
                ]"
                [separateDialCode]="true"
                [searchCountryPlaceholder]="'ابحث عن الدولة...'"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.SaudiArabia"
                [maxLength]="15"
                [phoneValidation]="true"
                [numberFormat]="PhoneNumberFormat.National"
                [inputId]="'Phone_Email'"
                name="Phone_Email"
                formControlName="WhatsappNumber"
              >
              </ngx-intl-tel-input>
            </div>
          </div>

          <!-- Subject_Taught -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="subjects"
                  >الماده التى يتم تدريسها:
                  <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if (TeachersForm.get('الماده التى يتم
                تدريسها')?.getError('required') && startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    TeachersForm.get('Subject_Taught')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="Subject_Taught"
                type="text"
                name="subjects"
                id="subjects"
                autocomplete="off"
              />
            </div>
          </div>

          <!-- Educational_Stages_Taught -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="teaching_level"
                  >المراحل الدراسية التي تم تدريسها:
                  <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if
                (TeachersForm.get('Educational_Stages_Taught')?.getError('required')
                && startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    TeachersForm.get('Educational_Stages_Taught')?.getError(
                      'required'
                    ) && startValidation
                }"
                class="form-control"
                formControlName="Educational_Stages_Taught"
                type="text"
                name="teaching_level"
                id="teaching_level"
                autocomplete="off"
              />
            </div>
          </div>

          <!-- Expected_Salary -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label
                  class="form-label cursor_pointer"
                  for="salary_expictations"
                  >الراتب المتوقع: <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if ( TeachersForm.get('Expected_Salary')?.getError('required')
                && startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <input
                [ngClass]="{
                  'is-invalid':
                    TeachersForm.get('Expected_Salary')?.getError('required') &&
                    startValidation
                }"
                class="form-control"
                formControlName="Expected_Salary"
                type="text"
                name="salary_expictations"
                id="salary_expictations"
                autocomplete="off"
              />
            </div>
          </div>
          <!-- CV -->
          <div class="my-2 col-md-6">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="cv"
                  >السيرة الزاتية(CV): <span class="text-danger">*</span></label
                >
                <!-- requierd -->
                @if (CV.value.length == 0 && startValidation) {
                <p class="mb-0 fw-bold text-danger">مطلوب*</p>
                }
              </div>
              <!-- (change)="onFileChange($event)" -->
              <input
                #CV
                [ngClass]="{
                  'is-invalid': startValidation && CV.value.length == 0
                }"
                class="form-control p-2"
                type="file"
                name="cv"
                id="cv"
                autocomplete="off"
              />
            </div>
          </div>
          <!-- Notes -->
          <div class="my-2 col-md-12">
            <div class="p-4 shadow rounded-5">
              <div class="d-flex justify-content-between align-items-center">
                <label class="form-label cursor_pointer" for="remarks"
                  >ملاحظات:(اختياري)
                </label>
              </div>
              <textarea
                rows="5"
                formControlName="Notes"
                class="form-control"
                name="remarks"
                id="remarks"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="text-center my-3">
          <button class="btn-main px-5">تسجيل</button>
        </div>
      </form>
    </div>
  </div>
</section>
