<section>
  <div class="container my-5">
    @if (ShowTitle) {
    <hr class="border-3 pb-5" />
    <div class="text-center mb-5">
      <h2
        data-aos="fade-up"
        data-aos-duration="1000"
        class="Text-Main AR Font-Secondary-Cairo fw-bold"
      >
        كورسات ساميت
      </h2>
      <p
        data-aos="fade-up"
        data-aos-duration="1000"
        class="text-black fw-semibold"
      >
        تمتلك <span class="Text-Third fw-bolder text-shadow">ساميت</span> واحدة
        من أفضل المنصات التعليمية التي تستخدم لتدريس المناهج المختلفة
      </p>
    </div>
    }
    <div>
      <div class="row g-4">
        @for (item of Courses; track item ; let I = $index) {
        <div
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
          class="col-12 col-sm-6 col-md-4 mb-5 mb-md-0 rounded-3"
        >
          <div class="h-100 card p-3 shadow-sm">
            <div class="card__content">
              <div class="ratio ratio-1x1">
                <img
                  class="rounded-3 ratio ratio-1x1"
                  [ngSrc]="item.Image_Url"
                  alt="item.CourseName"
                  fill
                />
              </div>
              <div class="rounded-3">
                <div class="h-100 p-4 text-center">
                  <div>
                    <p class="Text-Main fs-4 fw-bold Font-Secondary-Cairo">
                      {{ item.CourseName }}
                    </p>
                  </div>
                  <div class="text-center">
                    <button
                      routerLink="/coursesform"
                      class="btn btn-main-secondary px-5"
                    >
                      المزيد
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
