<header>
  <app-blank-navbar></app-blank-navbar>
</header>
<main>
  <app-blank-layout></app-blank-layout>
</main>
<footer>
  <app-footer></app-footer>
</footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="var(--secondary-color-green)"
  type="ball-atom"
  [fullScreen]="true"
  ><p class="mt-5 h1 text-main-poppins" style="color: white">
    <span class="mt-5 pt-5 d-block mx-auto text-center">
      <img
        width="75"
        height="75"
        class="rounded-circle"
        src="../assets/Summit-Logo/logo2.jpg"
        alt="spinnger loading logo momento"
      />
    </span>
    Summit ...
  </p></ngx-spinner
>
