<section #mainSection class="h-100 position-relative z-2">
  <div class="bg position-absolute">
    <img
      class="object-fit-cover"
      priority
      fill
      ngSrc="/assets/Header-Backgroud.jpg"
      role="presentation"
    />
  </div>
  <div class="container-fluid">
    <div
      class="row position-relative z-2 Font-Secondary-Cairo justify-content-center align-items-center flex-column-reverse flex-md-row"
    >
      <div class="col-md-6 pt-4 pt-md-0">
        <!-- ====================================== -->
        <!-- Open Video Button -->
        <!-- ====================================== -->
        <div
          class="d-flex justify-content-center flex-column position-relative h-100 imageConaienr"
        >
          <div class="video__Image text-center">
            <img
              draggable="false"
              class="rounded-circle"
              ngSrc="assets/Summit-Logo/trace.svg"
              alt="Video-BackGround"
              width="300"
              height="300"
              priority
            />
          </div>
          <div>
            <img
              role="button"
              tabindex="0"
              (click)="onPlayVideoClick()"
              width="150"
              height="150"
              class="position-absolute top-50 start-50 translate-middle"
              ngSrc="./assets/play-video.svg"
              alt="play-video"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="text-center d-flex justify-content-center align-items-center flex-column h-100"
        >
          <h1 class="mb-0">
            <span class="fw-bolder Text-Secondary text-uppercase">
              Summit
            </span>
            <span class="fs-4 d-block visually-hidden">Online School</span>
          </h1>
          <p class="text-white fs-1 text-uppercase fw-bolder text-nowrap">
            Step into the light
            <span class="lamp__SVG">
              <img
                ngSrc="assets/Home/knowledge-icon.svg"
                alt="knowledge-icon"
                fill
              />
            </span>
          </p>
        </div>
      </div>
      <ul
        class="list-unstyled d-flex justify-content-center gap-3 position-absolute bottom-0 start-50 translate-middle-x pb-2"
      >
        <li class="social-icons-container bg-white fs-3">
          <a
            class="icons-color"
            href="https://www.facebook.com/profile.php?id=61559931065136&_rdc=1&_rdr"
            target="_blank"
            aria-label="Visit our Facebook Profile"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="social-icons-container bg-white Text-Main fs-3">
          <a
            class="icons-color"
            href="https://wa.me/+966543271082"
            target="_blank"
            aria-label="Conect us on whatsapp"
          >
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
        <li class="social-icons-container bg-white Text-Main fs-3">
          <a
            class="icons-color"
            href="https://www.instagram.com/summitonline2024/"
            target="_blank"
            aria-label="find us on instagram"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ====================================== -->
<!-- Video Component -->
<!-- ====================================== -->
@if(PlayVideo) {
<app-home-video (closeVideo)="onPlayVideoClick()"></app-home-video>
}
