<section #mainSection class="h-100 position-relative z-2">
  <div class="container-fluid">
    <div
      class="row position-relative z-2 Font-Secondary-Cairo justify-content-center align-items-center flex-column-reverse flex-md-row"
    >
      <div class="col-md-6">
        <!-- ====================================== -->
        <!-- Open Video Button -->
        <!-- ====================================== -->
        <div
          (click)="onPlayVideoClick()"
          role="button"
          tabindex="0"
          class="d-flex justify-content-center flex-column position-relative h-100"
        >
          <div class="video__Image text-center">
            <img
              loading="eager"
              draggable="false"
              class="w-50 rounded-circle ratio ratio-1x1 object-fit-cover"
              [src]="'assets/Video-BackGround.png'"
              alt="Video-BackGround"
            />
          </div>
          <div>
            <img
              loading="lazy"
              class="ratio ratio-1x1 object-fit-cover position-absolute top-50 start-50 translate-middle w-25"
              src="./assets/play-video.svg"
              alt="play-video"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="text-center d-flex justify-content-center align-items-center flex-column h-100"
        >
          <h1 class="mb-0">
            <span class="fw-bolder Text-Secondary text-uppercase">
              Summit
            </span>
            <span class="fs-4 d-block visually-hidden">Online School</span>

            <p class="text-white fs-1 text-uppercase fw-bolder text-nowrap">
              Step into the light
              <span class="lamp__SVG">
                <img
                  loading="lazy"
                  class="w-100"
                  [src]="'assets/Home/knowledge-icon.svg'"
                  alt="knowledge-icon"
                />
              </span>
            </p>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================== -->
<!-- Video Component -->
<!-- ====================================== -->
@if(PlayVideo) {
<app-home-video (closeVideo)="onPlayVideoClick()"></app-home-video>
}
