@import "variables";
section {
  background-image: url("/assets/Header-Backgroud.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .container-fluid {
    .row {
      min-height: 100vh;
    }
  }
  &::after {
    content: "";
    background-color: $main-color;
    opacity: 0.75;
    position: absolute;
    inset: 0;
    z-index: 1;
  }
  .logo__yellow--Light {
    width: 16x;
    height: 16x;
    display: inline-block;
  }
  .video__Image {
    filter: blur(1px);
  }
  .imageConaienr {
    transition: 0.3s all;
    &:hover .video__Image {
      filter: blur(10px);
    }
  }
}

h1 {
  font-size: 75px;
}
p {
  font-size: 75px;
  line-height: 0;
}
.lamp__SVG {
  display: inline-block;
  width: 47px;
  height: 47px;
  transform: rotate(30deg) translateY(-24%);
  padding-left: 5px;
}
.secondBackground {
  background-image: url("/assets/bg.gif");
}
