<section #mainSection class="h-100 position-relative z-2">
  <div class="bg position-absolute">
    <img
      class="object-fit-cover"
      priority
      fill
      ngSrc="https://lh3.googleusercontent.com/d/1CaPOSwUMuzf8lOgPQHt9y6-FFat7a7E2"
      role="presentation"
    />
  </div>
  <div class="container-fluid">
    <div
      class="row position-relative z-2 Font-Secondary-Cairo justify-content-center align-items-center flex-column-reverse flex-md-row"
    >
      <div class="col-lg-6 pt-4 pt-md-0 d-none d-lg-block">
        <!-- ====================================== -->
        <!-- Open Video Button -->
        <!-- ====================================== -->
        <div class="position-relative video__Image">
          @defer (on viewport){
          <div class="h-100 video__Image">
            <owl-carousel-o [options]="customOptions">
              @for (slide of HeaderImages; track slide ; let i = $index) {
              <ng-container>
                <ng-template carouselSlide>
                  <img
                    loading="eager"
                    decoding="async"
                    data-aos="flip-right"
                    data-aos-duration="1000"
                    class="rounded-4 ratio ratio-16x9 w-100 h-100"
                    [height]="450"
                    [src]="slide"
                    [alt]="slide"
                    [title]="slide"
                  />
                </ng-template>
              </ng-container>
              }
            </owl-carousel-o>
          </div>
          }@placeholder {
          <div
            class="position-absolute top-0 start-0 end-0 bottom-0 w-100 h-100 placeholder Bg-Main"
            role="presentation"
          >
            <img
              class="position-absolute top-0 start-0 end-0 bottom-0 w-100 h-100 rounded-4"
              src="https://lh3.googleusercontent.com/d/1hH0OlUaGvIwTy2X6jDd-C_KEkyS2GWgj"
              referrerpolicy="no-referrer"
              alt="summit online School logo"
            />
          </div>
          }
        </div>
      </div>
      <div class="col-lg-6 p-5">
        <div
          class="text-center d-flex justify-content-center align-items-center flex-column h-100"
        >
          <h1 class="mb-0">
            <span class="fw-bolder Text-Secondary text-uppercase">
              Summit
            </span>
            <span class="fs-4 d-block visually-hidden">Online School</span>
          </h1>
          <p class="text-white fs-1 text-uppercase fw-bolder text-nowrap">
            Step into the light
            <span class="lamp__SVG">
              <img
                ngSrc="assets/Home/knowledge-icon.svg"
                alt="knowledge-icon"
                fill
              />
            </span>
          </p>
          <div class="position-relative">
            <div class="logoImage my-3 bg-danger">
              <img
                class="rounded-circle"
                src="https://lh3.googleusercontent.com/d/1hH0OlUaGvIwTy2X6jDd-C_KEkyS2GWgj"
                referrerpolicy="no-referrer"
                alt="summit online School logo"
              />
            </div>
            <div>
              <img
                role="button"
                tabindex="0"
                (click)="onPlayVideoClick()"
                width="150"
                height="150"
                class="position-absolute top-50 start-50 translate-middle"
                ngSrc="./assets/play-video.svg"
                alt="play-video"
              />
            </div>
          </div>
          <div>
            <button
              routerLink="students"
              class="btn-main-secondary bg-btn-submmit px-5 py-2"
            >
              سجل الآن
            </button>
          </div>
        </div>
      </div>
      <ul
        class="list-unstyled d-flex justify-content-center gap-3 position-absolute bottom-0 start-50 translate-middle-x pb-2"
      >
        <li class="social-icons-container bg-white fs-3">
          <a
            class="icons-color"
            href="https://www.facebook.com/profile.php?id=61559931065136&_rdc=1&_rdr"
            target="_blank"
            aria-label="Visit our Facebook Profile"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="social-icons-container bg-white Text-Main fs-3">
          <a
            class="icons-color"
            href="https://wa.me/+966543271082"
            target="_blank"
            aria-label="Conect us on whatsapp"
          >
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </li>
        <li class="social-icons-container bg-white Text-Main fs-3">
          <a
            class="icons-color"
            href="https://www.instagram.com/summitonline2024/"
            target="_blank"
            aria-label="find us on instagram"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ====================================== -->
<!-- Video Component -->
<!-- ====================================== -->
@if(PlayVideo) {
<app-home-video (closeVideo)="onPlayVideoClick()"></app-home-video>
}
