@import "variables";
section {
  .container-fluid {
    .row {
      min-height: 100vh;
    }
  }
  &::after {
    content: "";
    background-color: $main-color;
    opacity: 0.75;
    position: absolute;
    inset: 0;
    z-index: 1;
  }
  .logo__yellow--Light {
    width: 16x;
    height: 16x;
    display: inline-block;
  }
  .video__Image {
    filter: blur(1.2px);
  }
  .imageConaienr {
    transition: 0.3s all;
    &:hover .video__Image {
      filter: blur(10px);
    }
  }
}

h1 {
  font-size: 75px;
}
p {
  font-size: 75px;
  line-height: 0;
}
.lamp__SVG {
  display: inline-block;
  width: 47px;
  height: 47px;
  transform: rotate(30deg) translateY(-24%);
  padding-left: 5px;
}
.secondBackground {
  background-image: url("/assets/bg.gif");
}

.bg {
  inset: 0;
}

@media screen and (max-width: 991px) {
  img.rounded-circle {
    width: 200px;
    height: 200px;
  }
  img.translate-middle {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 992px) {
  img.rounded-circle {
    width: 300px;
    height: 300px;
  }
  img.translate-middle {
    width: 150px;
    height: 150px;
  }
}

.bg-btn-submmit {
  background-color: #e2cd42;
  transition: 0.3s;
  &:hover {
    animation: submmitAnimation 0.3s infinite alternate;
    background-color: $main-color;
    border-color: $secondary-color !important;
  }
}
@keyframes submmitAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.homevideoParent {
  margin: auto;
  width: 500px;
  height: 500px;
  position: relative;
}
.video__Image {
  margin: auto;
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 992px) {
  .video__Image,
  .homevideoParent {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 540px) {
  .video__Image,
  .homevideoParent {
    width: 200px;
    height: 200px;
  }
}
