<div class="py-5">
  <div class="content__container rounded-5">
    <div class="content text-center text-white">
      <p class="h1 fw-bold">إعداد المعلمين للمستقبل</p>
      <p class="my-4 h4 w-75 mx-auto">
        تعمل المنصة كجسر يربط المعلمين بالمؤسسات التعليمية؛ حيث يحظى أصحاب العمل
        بفرصة فريدة لاستكشاف ملفات المعلمين التعليمية الشاملة التي أعدوها من
        قبل، ومراجعة الأوراق والشهادات الموثقة، واستقطاب المواهب عالية المستوى
      </p>
      <div>
        <button class="btn btn-One mx-2 px-5 fs-5">اقرأ المزيد</button>
        <button class="btn btn-Two mx-2 px-5 fs-5">اتصل الان</button>
      </div>
    </div>
  </div>
</div>
