<div>
  <h3 class="h1 text-center fw-bold Text-Main mb-4">القيم الأساسية</h3>
  <div>
    <div class="row g-3">
      @for (item of _coreValues.coreValues | slice:0:9; track $index) {
      <div data-aos="fade-up" data-aos-duration="1000" class="col-12 col-md-4">
        <div class="Core__Content p-5 h-100 shadow">
          <div class="w-50 mx-auto">
            <img
              loading="lazy"
              class="w-100 rounded-circle"
              [src]="item.image_2"
              [alt]="item.title"
            />
          </div>
          <p
            data-aos="fade-up"
            data-aos-duration="1000"
            class="text-center Text-Main fs-3 fw-bold my-3"
          >
            {{ item.title }}
          </p>
          <p data-aos="fade-up" data-aos-duration="1000" class="text-center">
            {{ item.pragraph }}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
