<section>
  <div class="container mb-5">
    <hr class="border-3 py-4" />
    <div>
      <div class="text-center mb-5">
        <h2 class="Text-Main AR Font-Secondary-Cairo fw-bold">
          القيم الأساسية
        </h2>
        <p class="text-black fw-semibold">
          <span class="Text-Third fw-bolder text-shadow">ساميت</span> هي مؤسسة
          تعليمية رائدة متخصصة في تقديم خدمات وحلول تعليمية عالية الجودة
          للمتعلمين من مختلف الفئات العمرية والجنسيات
        </p>
      </div>
      <div>
        <owl-carousel-o [options]="customOptions">
          @for (item of _coreValues.coreValues; track item; let i = $index) {
          <ng-container>
            <ng-template carouselSlide [id]="item.title">
              <div class="Bg-Main text-center rounded-4">
                <div
                  style="height: 350px"
                  class="d-flex justify-content-evenly align-items-center p-2 flex-column"
                >
                  <div>
                    <div class="owl__Image">
                      <img
                        loading="lazy"
                        decoding="async"
                        class="w-100 rounded-circle ratio ratio-1x1"
                        [src]="item.image_1"
                        [alt]="item.title"
                        [title]="item.title"
                      />
                    </div>
                    <h3
                      class="Text-Secondary my-2"
                      data-aos="flip-left"
                      data-aos-duration="1000"
                    >
                      {{ item.title }}
                    </h3>
                  </div>
                  <p class="text-white">
                    {{ item.pragraph }}
                  </p>
                </div>
              </div>
              <span
                class="block mx-auto social-icons-container Bg-Main Text-Secondary my-1 fw-bold"
                >{{ i + 1 }}</span
              >
            </ng-template>
          </ng-container>
          }
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
