<div class="container">
  <!-- <hr class="border-3 my-5" /> -->
</div>
<section>
  <div class="container py-5">
    <div class="position-relative z-3">
      <div class="mb-5">
        <h2 class="Text-Secondary text-center h1 fw-bold">
          إحصائيات <Span class="text-shadow">ساميت</Span>
        </h2>
      </div>
      <div class="AR row text-white justify-content-between">
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          class="col-md-2 text-center d-flex justify-content-between align-items-center flex-column"
        >
          <div>
            <i class="fa-brands fa-discourse fs-1"></i>
            <p class="my-2 fs-4 fw-bolder">سنوات التشغيل</p>
          </div>
          <p
            class="fw-bolder fs-4 d-flex justify-content-center align-items-center gap-1"
          >
            <span
              [countUp]="1"
              [options]="{ enableScrollSpy: true, duration: 1.5 }"
              >0</span
            >
            <i class="pi pi-plus fw-bold"></i>
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          class="col-md-2 text-center d-flex justify-content-between align-items-center flex-column"
        >
          <div>
            <i class="fa-solid fa-user-graduate fs-1"></i>
            <p class="my-2 fs-4 fw-bolder">عدد طلبة المنصة</p>
          </div>
          <p
            class="fw-bolder fs-4 d-flex justify-content-center align-items-center gap-1"
          >
            <span
              [countUp]="1000"
              [options]="{ enableScrollSpy: true, duration: 1.5 }"
              >0</span
            >
            <i class="pi pi-plus fw-bold"></i>
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          class="col-md-2 text-center d-flex justify-content-between align-items-center flex-column"
        >
          <div>
            <i class="pi pi-users fs-1"></i>
            <p fs-1 class="my-2 fs-4 fw-bolder">عدد أولياء الأمور</p>
          </div>
          <p
            class="fw-bolder fs-4 d-flex justify-content-center align-items-center gap-1"
          >
            <span
              [countUp]="600"
              [options]="{ enableScrollSpy: true, duration: 1.5 }"
              >0</span
            >
            <i class="pi pi-plus fw-bold"></i>
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-duration="500"
          class="col-md-2 text-center d-flex justify-content-between align-items-center flex-column"
        >
          <div>
            <i class="fa-solid fa-chalkboard-user fs-1"></i>
            <p class="my-2 fs-4 fw-bolder">عدد المعلمين</p>
          </div>
          <p
            class="fw-bolder fs-4 d-flex justify-content-center align-items-center gap-1"
          >
            <span
              [countUp]="100"
              [options]="{ enableScrollSpy: true, duration: 1.5 }"
              >0</span
            >
            <i class="pi pi-plus fw-bold"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
