@import 'variables';
section {
  background-image: url('/assets/Home/Home-tetemonial/background.jpg');
  // background-size: contain;
  background-repeat: repeat;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $main-color;
    opacity: 0.75;
    z-index: 1;
  }
}