<!-- Modal -->
<div (click)="onCloseVideoClick()" class="LightBoxContainer">
  <div class="lightBoxContent container" (click)="stopPropegation($event)">
    <div class="text-end">
      <button (click)="onCloseVideoClick()" class="btn-close btn-main"></button>
    </div>
    <img src="assets/videos/staytuned.jpg" alt="staytuned" />
    <!-- <video
      class="w-100"
      src="assets/videos/Home - Eduverse.mp4"
      controls
      preload="auto"
      autoplay
    ></video> -->
  </div>
</div>
