<section class="pt-5" data-aos="fade-left" data-aos-duration="1000">
  <div class="container">
    <div class="text-center">
      <h2 class="AR Text-Main fw-bold mb-3">
        فريق <span class="text-shadow text-uppercase">Summit</span>
      </h2>
      <p class="fw-semibold" data-aos="fade-left" data-aos-duration="1000">
        يدعم مؤسسة إديوفرس أونلاين فريق استثنائي يضم أكثر من 300 مدرس متفان،
        مهتمون بالتعليم وملتزمين بنجاح طلابنا بالإضافة إلى ذلك، يتكون فريقنا
        الإداري من حوالي 30 فردا من ذوي الخبرات الواسعة في مجال التعليم، يشرفون
        على سير العمل بسلاسة وكفاءة. يشمل هذا الفريق رؤساء الأقسام، منسقي
        المواد، ومديرو المراحل. كما يضم الفريق مجموعة متميزة من موظفي إدخال
        البيانات، ممثلي خدمة العملاء، ومتخصصي الدعم الفني
      </p>
    </div>
    <div data-aos="fade-right" data-aos-duration="1000">
      <owl-carousel-o [options]="customOptions">
        @for (slide of _Team.Team; track slide ; let I = $index) {
        <ng-container>
          <ng-template carouselSlide [id]="slide.Instractor_Name">
            <div class="position-relative imageConaienr">
              <img
                loading="lazy"
                decoding="async"
                data-aos="flip-right"
                data-aos-duration="1000"
                class="rounded-3 ratio ratio-16x9 w-100 object-fit-cover w-100 h-100 ratio ratio-4x3"
                [src]="slide.ImageUrl"
                [alt]="slide.Instractor_Name"
                [title]="slide.Instractor_Name"
                referrerpolicy="no-referrer"
              />
              <div
                (click)="clickedImage(slide)"
                (click)="toggleLightBox()"
                class="flex justify-content-center position-absolute end-0 bottom-0 m-2"
              >
                <p-button
                  icon="fa-regular fa-circle-play fs-2"
                  [pTooltip]="tooltipContent"
                  severity="contrast"
                  tooltipPosition="top"
                />
                <ng-template #tooltipContent>
                  <div class="flex align-items-center">
                    <span> Play Video </span>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="text-center">
              <p
                data-aos="flip-left"
                data-aos-duration="1000"
                class="Text-Third fw-bolder my-2 fw-bold"
              >
                {{ slide.Instractor_Name }}
              </p>
              <p data-aos="flip-up" data-aos-duration="1000" class="fw-bold">
                {{ slide.Instractor_Job }}
              </p>
            </div>
          </ng-template>
        </ng-container>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>

@if (isToggleLightBox) {
<div (click)="toggleLightBox()" class="LightBoxContainer">
  <div class="lightBoxContent" (click)="toggleLightBox()">
    <app-videos [cuurentInstractor]="currentSlide"></app-videos>
  </div>
</div>
}
